rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /blame-comment-image{allPaths=**} {
      allow read, write;
    }
    match /person-image{allPaths=**} {
      allow read, write;
    }
  }
}
